[submodule "rand/themes/cocoa-eh"]
	path = rand/themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme.git
[submodule "rand/themes/hugo-theme-basic"]
	path = rand/themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "rand/themes/hugo-theme-even"]
	path = rand/themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "rand/themes/hugo-coder"]
	path = rand/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "rand/themes/beautifulhugo"]
	path = rand/themes/beautifulhugo
	url = https://github.com/polyrand/beautifulhugo.git
[submodule "rand/themes/hugo-ink"]
	path = rand/themes/hugo-ink
	url = https://github.com/polyrand/hugo-ink.git
[submodule "rand/themes/hugopipes-tailwindcss"]
	path = rand/themes/hugopipes-tailwindcss
	url = https://github.com/budparr/hugopipes-tailwindcss.git
