[submodule "rand/themes/hyde"]
	path = rand/themes/hyde
	url = https://github.com/spf13/hyde.git
[submodule "rand/themes/cocoa-eh"]
	path = rand/themes/cocoa-eh
	url = https://github.com/mtn/cocoa-eh-hugo-theme.git
[submodule "rand/themes/hugo-theme-basic"]
	path = rand/themes/hugo-theme-basic
	url = https://github.com/siegerts/hugo-theme-basic.git
[submodule "rand/themes/hyde-hyde"]
	path = rand/themes/hyde-hyde
	url = https://github.com/htr3n/hyde-hyde.git
[submodule "rand/themes/hugo-theme-even"]
	path = rand/themes/hugo-theme-even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "rand/themes/hugo-coder"]
	path = rand/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
