<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<!-- container wrapper -->
	<div class="max-w-3xl m-auto mt-8 ml-2 sm:ml-16 sm:mt-12">
		{{ partial "head.html" . }}
		<!-- post -->
		<div class="">
			<!-- postheadersingle -->
			<div class="">
				<!-- {{ if ne .Date.Year 1 }}
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
						</div>
					</div>
				{{ end }} -->
				<div class="matter">
					<!-- title -->
					<h1 class="">{{ .Title }}</h1>
				</div>
			</div>
					
			<div class="markdown">
				{{ .Content }}
			</div>

			<!-- <div class="tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<ul class="tagl flat">
							{{ range .Params.tags }}
							<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div> -->
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
