<div class="border-2 border-red-600 header">
	{{ if .Site.Params.Avatar }}
		<div class="border-2 border-gray-600 avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="flex items-center border-2 border-yellow-600 site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p>{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<nav class="nav social">
			<ul class="hidden border-2 border-indigo-700 sm:flex flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
			</ul>
		</nav>
                {{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
                <span class="scheme-toggle"><a href="#" id="scheme-toggle"></a>
                {{- end -}}
	</div>

	<nav class="border-2 border-blue-600 nav">
		<ul class="p-0 m-0">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
</div>
