<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
		<title>{{ $siteTitle }} {{ if isset .Site.Params "subtitle" }}- {{ .Site.Params.Subtitle }}{{ end }} </title>
	{{- else -}}
		<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}


	{{- with .Title | default .Site.Title }}
  		<meta name="twitter:title" content="{{ . | truncate 70 }}" />
	{{- end }}
	{{- with .Content | default .Params.subtitle }}
		<meta name="twitter:description" content="{{ . | truncate 200 }}" />
		<meta name="description" content="{{ . | truncate 200 }}" />
	{{- end }}
	{{ if .Params.thumbnail }}
		<meta property="twitter:image" content="{{ .Params.thumbnail | absURL }}" />
		<meta property="og:image" content="{{ .Params.thumbnail | absURL }}" />
	{{ else }}
	{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
		<meta name="twitter:image" content="{{ . | absURL }}" />
		<meta name="og:image" content="{{ . | absURL }}" />
	{{- end }}
	{{ end }}
		<meta name="twitter:card" content="summary" />
	{{- with .Site.Author.twitter }}
		<meta name="twitter:site" content="@{{ . }}" />
		<meta name="twitter:creator" content="@{{ . }}" />
	{{- end }}
	{{- with .Title | default .Site.Title }}
		<meta property="og:title" content="{{ . }}" />
	{{- end }}
	{{- with .Content | default .Params.subtitle | default .Summary }}
		<meta property="og:description" content="{{ . | truncate 200 }}" />
	{{- end }}
	<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
  	<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
	{{- with .Site.Params.fb_app_id }}
		<meta property="fb:app_id" content="{{ . }}" />
	{{- end }}
	{{ if not .Date.IsZero }}
		<meta property="og:updated_time" content="{{ .Date.Format "2006-01-02T15:04:05-07:00" | safeHTML }}" />
  	{{ end }}
  	{{ with .Params.audio }}
  	  <meta property="og:audio" content="{{ . }}" />
  	{{ end }}
  	{{ with .Params.locale }}
  	  <meta property="og:locale" content="{{ . }}" />
  	{{ end }}
  	{{ with .Site.Params.title }}
  	  <meta property="og:site_name" content="{{ . }}" />
  	{{ end }}
  	{{ with .Params.videos }}
  	  {{ range .Params.videos }}
  	    <meta property="og:video" content="{{ . | absURL }}" />
  	  {{ end }}
  	{{ end }}


	{{- if isset .Site.Params "favicon" -}}
		<link rel="apple-touch-icon" sizes="180x180" href="https://ricardoanderegg.com/img/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="https://ricardoanderegg.com/img/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="https://ricardoanderegg.com/img/favicon-16x16.png">
		<link rel="manifest" href="https://ricardoanderegg.com/img/site.webmanifest">
	{{- end -}}

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ with .OutputFormats.Get "rss" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

	{{- template "_internal/schema.html" . -}}
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
    {{ $styles := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | fingerprint }}
	{{ if .Site.IsServer }}
 	 <link rel="stylesheet" href="{{ $styles.Permalink }}" data>
	{{ else }}
 	    {{ $styles := $styles | minify | resources.PostProcess }}
 	 <link rel="stylesheet" href="{{ $styles.Permalink }}">
     <script data-goatcounter="https://ricardo.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
     <noscript>
        <img src="https://ricardo.goatcounter.com/count?p=/test-img">
     </noscript>
	{{ end }}
</head>
