<div class="p-4 my-8 border-2 border-gray-400 rounded-lg">
    <form class="text-center" action="https://tinyletter.com/ricar-do"
        method="post" target="popupwindow"
        onsubmit="window.open('https://tinyletter.com/ricar-do', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
        <p><label for="tlemail">A newsletter!<br/> Not weekly, not monthly. Simply interesting.</label></p>
        <p><input type="text" class="w-6/12 p-2 border-2 border-gray-700 rounded-lg shadow-md" name="email" id="tlemail" /></p><input type="hidden" value="1"
            name="embed" /><button class="px-6 py-4 bg-gray-200 border-2 border-gray-500 rounded-lg shadow-lg hover:bg-gray-800 hover:text-gray-100" type="submit" value="Subscribe">Subscribe</button>
    </form>
</div>
