<div class="p-4 my-8 text-center border-2 border-gray-400 rounded-lg">
        <p>This used to be a box promoting a newsletter, but I think we already have enough newsletters. Everybody wants to get a spot in your mailbox.</p>
        <p>Instead of that, subscribing to <a href="/index.xml" target="_blank">my RSS feed</a> will be a lot better, and less intrusive in your life.</p>
        <p>If you are looking for a newsletter to subscribe to, <a href="https://tinyletter.com/ricar-do" target="_blank">click here.</a></p>
</div>
